body {
  overflow: hidden;

  width: 100vw;
  height: 100vh;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
}

.iframe {
  border: none;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  background-color: white;

  position: relative;
  top: 0;
  left: 0;

  @media (max-width: 767.98px) {
    top: 82px;
  }

  @media (max-width: 599.98px) {
    top: 54px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 80px;

  padding: 1.5rem;

  @media (max-width: 1023.98px) {
    gap: 60px;

    padding: 1rem 1.5rem;
  }

  @media (max-width: 599.98px) {
    gap: 30px;

    padding: 0.5rem 1.5rem;
  }
}

.header-link {
  font-size: 2rem;

  transition: all 300ms ease-out;

  @media (max-width: 1023.98px) {
    width: 50px;
  }
}

.header-link:hover {
  transform: translateY(-5px);
}

.link-text {
  @media (max-width: 1023.98px) {
    display: none;
  }
}

.link-img {
  display: none;

  width: 100%;
  height: auto;

  @media (max-width: 1023.98px) {
    display: block
  }
}
